
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/list">List all</a></li>
 	    <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a></p>
      </div>
    </div>
    <a href="http://localhost:5000/teste"><button>Teste</button></a><br><br>
    <a href="http://localhost:5000/teste2"><button>Teste2</button></a><br><br>
    <a href="http://localhost:5000/teste3"><button>Teste3</button></a><br><br>
    <a href="http://localhost:5000/teste4"><button>Teste4</button></a><br><br>
    <a href="http://localhost:5000/teste5"><button>Teste5</button></a><br><br>
    <a href="http://localhost:5000/api/say_name"><button>API Say Name</button></a><br><br>
    <a href="http://localhost:5000/api/say_name2"><button>API Say Name2</button></a><br><br>
    <a href="http://localhost:5000/api/say_name3"><button>API Say Name3</button></a><br><br>
    <a href="http://localhost:5000/api/say_name4"><button>API Say Name4</button></a><br><br>
    <a href="http://localhost:5000/api/say_name5"><button>API Say Name5</button></a>
  </body>
</html>

